.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
ul,ol{
    list-style: none;
}
.input{
    display: block;
    width: 500px;
    height: 50px;

}
.btn{
    display: block;
    width: 150px;
    height: 50px;

}